.pageHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: var(--fs-600);
    max-width: unset;
  }

  ul {
    display: flex;
    gap: 1rem;

    li {
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }
      a {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
      }
    }

    li:last-child {
      pointer-events: none;

      span:after {
        content: "";
        display: block;
        margin-top: 0.2rem;
        border-bottom: 1px solid var(--bright-aqua);
      }
    }
  }

  p {
    opacity: 0.5;
  }
}
