@import url("./globals/scrollbar.css");
@import url("./globals/boilerplate.css");
@import url("./globals/typography.css");
@import url("./globals/colors.css");
@import url("./globals/embla.css");
@import url("./globals/tostify.css");

.subHeadingWrapper {
  display: flex;
  gap: 0.7rem;
  margin-bottom: -1rem;
  width: 100%;
}

.subHeadingSquare {
  display: block;
  width: 0.5rem;
  height: 1.2rem;
  background-color: var(--bright-aqua);
  border-radius: 0.1rem;
}

.number {
  font-family: "Noto Sans Mono", monospace;
  color: var(--bright-aqua);
  font-size: 1.5rem;
}

.serviceMotionCard {
  display: none;
}

.pageWrapper {
  padding: calc(128px + 2rem) 4rem 0;
  max-width: 1830px;
  margin: 0 auto;
  background-color: transparent !important;
}

@media (max-width: 1060px) {
  .serviceMotionCard {
    display: block;
  }
}

@media (max-width: 950px) {
  .pageWrapper {
    padding: calc(128px + 2rem) 3rem 0;
  }
}

@media (max-width: 768px) {
  .pageWrapper {
    padding: calc(128px) 1.2rem 0;
  }
}
