:root {
  --border-radius: 1rem;
  --margin-top-components: 7rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  :has(:target) {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  background-image: var(--background-image);
  user-select: none;
  overflow-x: hidden;
}

html:has(.requires-no-scroll),
body:has(.requires-no-scroll) {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: touch !important;
}

main {
  padding: calc(128px + 2rem) 6rem 0;
  max-width: 1870px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--sand-white);
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 950px) {
  main {
    padding: calc(128px + 2rem) 3rem 0;
  }
}

@media (max-width: 768px) {
  main {
    padding: calc(128px + 2rem) 1.5rem 0;
  }
}
