.Toastify__toast {
  background-color: var(--sand-white) !important;
  color: var(--dark-blue) !important;
  border-radius: 0.2rem !important;
  position: fixed !important;
  right: 0 !important;
}

.Toastify__toast--success .Toastify__progress-bar--bg {
  background-color: var(--sand-white);
}

.Toastify__toast--success .Toastify__toast-body .Toastify__toast-icon svg {
  fill: var(--dark-blue);
}

.Toastify__toast--success .Toastify__progress-bar {
  background-color: var(--dark-blue);
}

@media (max-width: 767px) {
  .Toastify__toast {
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
  }
}
