@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

:root {
  --fs-100: clamp(0.84rem, calc(0.94rem + -0.13vw), 0.91rem);
  --fs-200: clamp(1.09rem, calc(1.08rem + 0.06vw), 1.13rem);
  --fs-300: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --fs-400: clamp(1.58rem, calc(1.41rem + 0.83vw), 2rem);
  --fs-500: clamp(1.89rem, calc(1.59rem + 1.51vw), 2.67rem);
  --fs-600: clamp(2.27rem, calc(1.77rem + 2.51vw), 3.55rem);
  --fs-700: clamp(2.72rem, calc(1.94rem + 3.93vw), 4.74rem);
  --fs-800: clamp(3.27rem, calc(2.08rem + 5.95vw), 6.31rem);
  --fs-900: clamp(4.27rem, calc(2.32rem + 7.95vw), 8.31rem);
  --fs-1000: clamp(5.27rem, calc(2.72rem + 9.95vw), 10.31rem);
}

p {
  font-size: var(--fs-200);
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-wrap: pretty;
}

h1 {
  font-size: var(--fs-400);
  max-width: 52ch;
  font-weight: 100;
}

h2 {
  font-size: var(--fs-200);
}

h3 {
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-400);
  max-width: 52ch;
}

h5 {
  font-size: var(--fs-300);
}

h6 {
  font-size: var(--fs-200);
}

@media (max-width: 470px) {
  h4 {
    font-size: var(--fs-300);
  }

  h6 {
    font-size: var(--fs-100);
  }
}
