.hero {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;

  .promo {
    display: flex;
    gap: 3rem;

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      h1 {
        font-size: var(--fs-700);
        max-width: 24ch;
      }

      p {
        max-width: 54ch;
      }
    }

    .pictureContainer {
      flex: 1;

      img {
        max-width: 100%;
        object-fit: contain;
        max-height: 50vh;
      }
    }
  }
}
