.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
}
