.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .logo {
      z-index: 1;
      width: 10rem;
      height: 100%;
      display: flex;

      img {
        // scale: 0.4;
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
      }

    }
  }
}

@media (max-width: 768px) {
  .header {
    nav {
      padding: 1rem;
    }
  }
}
