.pageHeader {
  padding: 0 0 3rem;
  position: relative;

  p {
    opacity: 0.5;
  }

  // &:after {
  //   content: "";
  //   display: inline-block;
  //   position: absolute;
  //   border-bottom: 1px solid var(--border-gray);
  //   width: 100%;
  //   top: calc(100% - 4rem);
  // }
}
