.cardItem {
  background-color: var(--dark-transparent-blue);

  p {
    opacity: 0.7;
  }

  &:hover {
    border: 1px solid var(--border-gray);
    .learnMore {
      span {
        &.icon {
          background: var(--white);
          transform: translate(1rem, 0);
        }
      }
    }
  }
}
