.formContainer {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--dark-transparent-blue);
  border-radius: var(--border-radius);

  .progressbar {
    background: var(--bright-aqua);
  }

  .toastContaier {
    
  }

  .form {
    flex: 2;
    padding: 2rem 2rem 0;

    input,
    textarea {
      font-family: inherit;
      color: var(--sand-white);
      font-size: 1rem;
    }
  }
}
