.hamburgerButton {
  z-index: 1;
  background-color: red;
  border-radius: 50%;
  padding: 0.5rem;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30vh 15vw 0;
  background-color: red;
}

@media (max-width: 640px) {
  .hamburgerButton {
    padding: 0;
  }
}
