.selector {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 5rem;
  align-items: flex-end;

  .select {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 0 0 0 0.5rem;

    svg {
      transition: 0.3s;
    }
  }

  .selectOptions {
    padding: 0.5rem;
    background-color: var(--white);
    color: var(--dark-blue);
    position: absolute;
    top: 140%;

    ul {
      display: flex;
      flex-direction: column;
      text-align: right;
      gap: 0.2rem;

      li {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
