@mixin respond-to($media) {
  @if $media == "large" {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $media == "small" {
    @media (max-width: 768px) {
      @content;
    }
  }
}

.pageIntro {
  padding: 4rem 0;

  .pageIntroWrapper {
    display: flex;
    gap: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--dark-transparent-blue);
    flex-direction: row-reverse;
    padding: 0 2rem;

    .pageIntroTextWrapper {
      padding: 6rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      flex: 1 1 50%;

      .subHeader {
        display: flex;
      }

      div {
        overflow: hidden;
      }

      button {
        margin-top: 2rem;
      }

      @include respond-to(large) {
        flex: 0;
        padding: 3rem 0 4rem;
      }

      @include respond-to(small) {
        padding: 1.7rem 0;
      }
    }

    @include respond-to(large) {
      flex-direction: column-reverse;
    }

    @include respond-to(small) {
      padding: 0rem 1rem;
    }
  }

  @include respond-to(small) {
    padding: 3rem 0;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
