.logo {
  z-index: 2;
  width: 10rem;
  height: 100%;
  display: flex;
  cursor: pointer;

  img {
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    width: 7rem;
  }
}
