@mixin respond-to($media) {
  @if $media == "medium" {
    @media (max-width: 870px) {
      @content;
    }
  }
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  h1 {
    font-weight: 100;
  }

  .duo {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;

    .field {
      width: 100%;
    }

    @include respond-to(medium) {
      flex-direction: column;
    }
  }

  .field {
    position: relative;

    input {
      width: 100%;
      height: 3rem;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid var(--border-gray);
    }

    textarea {
      width: 100%;
      max-width: 710px;
      background-color: transparent;
      min-height: 10rem;
      border: none;
      outline: none;
      resize: none;
      border-bottom: 2px solid var(--border-gray);
    }

    .error {
      position: absolute;
      left: 0;
      top: 107%;
      color: var(--bright-aqua);
      font-size: 0.8rem;
    }
  }

  button {
    margin-top: 1rem;
  }
}
