@mixin respond-to($media) {
  @if $media == "large" {
    @media (max-width: 1020px) {
      @content;
    }
  } @else if $media == "medium" {
    @media (max-width: 870px) {
      @content;
    }
  } @else if $media == "small" {
    @media (max-width: 768px) {
      @content;
    }
  }
}

.contactForm {
  padding: 4rem 0;

  .contactFormWrapper {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--dark-transparent-blue);
    border-radius: var(--border-radius);
    max-height: 732px;

    .progressbar {
      background: var(--bright-aqua);
    }

    .form {
      flex: 2;
      padding: 2rem 2rem 0;

      input,
      textarea {
        font-family: inherit;
        color: var(--sand-white);
        font-size: 1rem;
      }

      @include respond-to(large) {
        padding: 2rem 0.5rem;
      }

      @include respond-to(medium) {
        padding: 0;
      }
    }

    @include respond-to(medium) {
      flex-direction: column;
      max-height: unset;
      gap: 3rem;
    }
  }

  @include respond-to(small) {
    padding: 3rem 0;
  }
}
