@mixin respond-to($media) {
  @if $media == "medium" {
    @media (max-width: 870px) {
      @content;
    }
  } @else if $media == "small" {
    @media (max-width: 768px) {
      @content;
    }
  }
}

.checkboxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    p {
      font-size: 0.9rem;
    }
  }

  .listWrapper {
    max-height: 552px;
    overflow: hidden; //prev auto

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__item {
      overflow: hidden;
    }

    &__checkbox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 0 1rem;
      height: 3rem;
      border-radius: var(--border-radius);
      border: 1px solid transparent;
      cursor: pointer;
      transition: 0.3s;

      input {
        display: none;
      }

      &:hover {
        border: 1px solid var(--border-gray);
      }
    }

    &::-webkit-scrollbar {
      width: 17px;
    }

    @include respond-to(medium) {
      max-height: unset;
    }
  }

  @include respond-to(medium) {
    padding: 0;
  }
}
